body {
    margin:0px; 
}

div {
    background: green;
}


.blue {
    background: blue; /* . means it's a class. then you put the name of the class attribute (blue)  */
}

.big-text {  /* big text is the class, and the whole thing is a rule */
    font-size: 2rem;
    font-weight: bold; /* font is a property in this css rule */
}

#buddies { /* target an id with # (an id targets ONE THING. a class targets as MANY AS YOU WANT */
    height: 200px;

}

#logo {
    margin: 0 auto;
    display: block;
    width: 82%;
}

#circle {
    background: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

#score {
    background: aquamarine;
    height: 25px;
    width: fit-content;
    border: 2px solid blue;
    text-align: center;
    margin: 0 auto;
}

#score-popup {
    
    display: inline;
    position: absolute;
    font: message-box;
    font-size: 25;
    color: green;
    outline-width: 25px;
    text-shadow: -1px -2px 4px #3acd1c;
    background: initial;
}

#time {
    background: red;
    text-align: center;
    margin: 0 auto;
}